// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book",arial,sans-serif 
	
body
	font-size: 12px 
	font-family: Tahoma, Arial, sans-serif 
	line-height: 1.4

.container
	width: 1183px
	margin: 0 auto 

// header
.header
	height: 119px
	padding-top: 10px
	background: #042892 url(../img/topbg.jpg) 50% 0 no-repeat
	&__inner
		+clr
	&__mid
		float: left
	&__right
		float: right	
.yourcity
	+clr
	position: relative
	padding-left: 21px
	margin-bottom: 8px
	color: #fff
	&:before
		content: ""
		position: absolute
		top: 16px
		left: 0px
		+s(city)
	&__title
		font-size: 13px
	&__select
		position: relative
		float: left
	&__text
		position: relative
		display: inline-block
		font-size: 18px
		border-bottom: 1px dotted
		cursor: pointer
		&:before
			content: ""
			position: absolute
			top: 11px
			right: -15px
			+s(arr-down)
	&__dropdown
		position: absolute
		top: 30px
		left: 0
		background: #eff7fa
		min-width: 250px
		li 
			a
				display: inline-block
				font-size: 16px
				padding: 0 10px
				color: #505558
				text-decoration: none
				&:hover
					color: #0398fd		 
.logo
	float: left
	margin-right: 20px
	a
		display: block
		+s(logo)
.search
	height: 60px
	width: 626px
	padding: 12px 13px 9px
	+box 
	font-size: 0
	+border-radius(12px/30px 30px)
	background: url(../img/search-bg.jpg) 0 0 repeat-x
	+box-shadow(0px 1px 5px #0d57a3)
	&__input
		height: 37px 
		width: 476px
		margin-right: 13px
		padding: 0 10px 
		border: 1px solid #2483f7
		+border-radius(8px)
		background: #fff
		+box-shadow(0 1px 1px #6d9aeb)
		font: 16px Tahoma, sans-serif
		+placeholder
			font: italic 16px/16px Arial, sans-serif
			color: #959b9f
	&__submit
		position: relative
		height: 37px
		width: 89px
		+border-radius(8px)
		background: #ffdf0d
		+g(#fffc77, #ffc901)
		text-align: center
		color: #13232c
		font-size: 18px  
		+text-shadow(0 1px 0 #fff351)
		&:before
			content: ""
			position: absolute
			bottom: 3px 
			left: 1px
			right: 1px
			height: 4px
			+border-radius(0 0 8px 8px)
			border-bottom: 1px solid #FFDE66 
			+box-shadow(0 2px 3px #d89700)
		&:active
			top: 2px
			&:before
				display: none
.tools
	+clr
	width: 250px
	height: 45px
	text-align: center
	+border-radius(3px)
	vertical-align: middle
	background: rgba(#032791, 0.6)
.login
	position: relative
	display: inline-block
	vertical-align: middle
	padding-left: 19px 
.register
	display: inline-block
	vertical-align: middle	


			




	